spring:
  datasource:
#    url: ${DB_URL}
#    driver-class-name: ${DB_DRIVER}
#    username: ${DB_USERNAME}
#    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.format_sql: true

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

management:
  endpoint:
    health:
      show-details: always

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    org.hibernate.SQL: INFO
    org.hibernate.jdbc.bind: TRACE
