spring:
  datasource:
#    url: ${DB_URL}
#    driver-class-name: ${DB_DRIVER}
#    username: ${DB_USERNAME}
#    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/nutrigo?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=utf8
    username: root
    password: 730306
  jpa:
    hibernate:
      ddl-auto: update  # create / create-drop / update 중 하나
    show-sql: true
    properties:
      hibernate.format_sql: true

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  flyway:
    enabled: false
    locations: classpath:db/migration
    baseline-on-migrate: true

management:
  endpoint:
    health:
      show-details: always

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    org.hibernate.SQL: INFO
    org.hibernate.jdbc.bind: TRACE
