spring:
  datasource:
    url: ${DB_URL}
    driver-class-name: ${DB_DRIVER}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.format_sql: true

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  flyway:
    enabled: true
    locations: classpath:db/migration

management:
  endpoint:
    health:
      show-details: always

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    org.hibernate.SQL: INFO
    org.hibernate.jdbc.bind: TRACE

kakao:
  oauth:
    client-id: ${KAKAO_CLIENT_ID:401d34a080f4dffddfb20d03d9376243}
    client-secret: ${KAKAO_CLIENT_SECRET:9gSqeW8dxKZLTZ4SwRd939XBky24e375}
    redirect-uri: ${KAKAO_REDIRECT_URI:http://localhost:8080/api/v1/auth/kakao/callback}

frontend:
  url: ${FRONTEND_URL:http://localhost:3000}